<div class="backgrount-landing">
  <div class="menu btn-group">
    <button type="button"
            class="btn btn-lg btn-purple "
            [routerLink]="['/landing', 'register']">REGISTER</button>
    <button type="button"
            class="btn btn-lg btn-purple"
            [routerLink]="['/landing', 'login']">LOG IN</button>

  </div>

  <div class="landing-window">


    <router-outlet></router-outlet>
      <!--<form class="form-landing" (ngSubmit)="onRegister()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email"
                 ngModel id="email" required #email="ngModel" email placeholder="Enter email">
          <div [hidden]="email.valid || email.pristine"
               class="alert alert-danger">
            Valid email address is required
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" minlength="2"
                 ngModel id="username" required #username="ngModel" placeholder="Enter username">
        </div>
        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          Username of length at least 2 is required
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password"
                 ngModel id="password" required #password="ngModel" placeholder="Password">
          <div [hidden]="password.valid || password.pristine"
               class="alert alert-danger">
            Password is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </form>

      <div *ngIf="errorRegisterMessage">{{errorRegisterMessage}}</div>

      <form  class="form-landing" (ngSubmit)="onLogin()" #login="ngForm">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" name="usernameOrEmail" minlength="2" ngModel id="login"
                 placeholder="Enter login">
        </div>
        <div class="form-group">
          <label for="passwordLogin">Password</label>
          <input type="password" class="form-control" name="passwordLogin" ngModel id="passwordLogin"
                 placeholder="Password">
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
      <div *ngIf="errorLoginMessage">{{errorLoginMessage}}</div>
    </div>-->

  </div>
</div>
