<nav class="navbar navClass navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
  <a class="navbar-brand">Home</a>
  <div class="navClass collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link " routerLink="/shop">Shop</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/history">History</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" routerLink="/basket">Basket {{ price | currency:'EUR':true}}</a></li>
      <li class="nav-item" *ngIf="me && me.admin"><a class="nav-link" routerLink="/admin">Admin View</a></li>
      <li class="nav-item"><a class="nav-link" (click)="onLogout()">Log out</a></li>
    </ul>
  </div>
  </div>
</nav>
