<div class="cardClass" class="odd">
  <img class="card-img-top" width="100%" src={{item.imgPath}} alt="Img not loaded!">
  <div class="card-block">
    <h4 class="card-title">{{item.name}} </h4>

    <h6 class="card-text desc">{{item.desc | slice:0:80}}</h6>
    <h6 class="price"> {{item.price | currency:'EUR':true}}</h6>
  </div>

  <button class="btn btn-primary" (click)="onAdd()">Add to basket!</button>
  <button class="btn btn-primary" [routerLink]="['/item-details', item._id]">Details</button>
</div>
