
<!--<div class="media">-->
  <!--<img class="d-flex align-self-center mr-3" height="128px" width="128px" src="https://www.maxprog.com/img/cat.jpg" alt="img">-->
  <!--<div class="media-body" style="word-break: break-all">-->
    <!--<h5 class="mt-0 mb-1">{{item.name}}</h5>-->
    <!--<p>{{item.desc | slice:0:155}}</p>-->
    <!--<button class="btn btn-danger" (click)="onAdd()">Add to basket!</button>-->
  <!--</div>-->
<!--</div>-->
<div class="cardClass" [ngClass]="{'odd': nr%2===1, 'even': nr%2===0}">
  <img class="card-img-top" width="100%" src={{item.imgPath}} alt="Img not loaded!">
  <div class="card-block">
    <h4 class="card-title">{{item.name}} - {{item.price | currency:'EUR':true}}</h4>
    <p class="card-text" style="word-break: break-all">{{item.desc | slice:0:80}}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-success" (click)="onAdd()">Add to basket!</button>
    <button class="btn btn-info" [routerLink]="['/item-details', item._id]">Details</button>
  </div>

</div>
