<div class="container basket-class">
<div>
  <span class="title-item">{{ basketItem.item.name }}</span>

  <input class="input-item" type="text" min="1" [(ngModel)]="currentQuantity" (keyup)="onQuantityChange()" appOnlyNumbers="true">
  <span class="title-item">x {{ basketItem.item.price | currency:'EUR':true}}</span>

</div>

  <span class="title-item sum">{{currentSum | currency:'EUR':true}}</span>

  <button class="btn-red" (click)="onRemove()"><i class="fa fa-times" aria-hidden="true"></i>
  </button>

  </div>

